.iphone {
  display: flex;
  flex-direction: column;
  /* width: 382px; */
  padding-left: 8px;
  /* border-radius: 12px; */
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.099);
  transition: all 0.7s;
}
.iphone img {
  width: 250px;
  align-self: center;
  padding-bottom: 10px;
}
.iphone .icons i {
  color: rgba(255, 217, 0, 0.738);
}
.iphone .X-ctie {
  background-color: #cef1ff;
  width: fit-content;
  padding: 5px;
  font-size: 12px;
}
.iphone .add-to-cart {
  width: fit-content;
  align-self: flex-end;
  margin-right: 10px;
  margin-bottom: 10px;
}
.iphone .icon-heart {
  position: absolute;
  right: 10px;
  font-size: 22px;
}
