
body{
 /* background-color: #EFEFEF; */
 background-color: #f1f1f1 !important;
 padding: 0 !important;
 margin: 0 !important;
 box-sizing: border-box;
}
.sliderHome{
    margin-bottom: 50px;
}
.btns>button{
    text-transform: none;
}
/* .cursorSwipe{
    cursor: grab;
} */
/* .carousel{
    padding: 20px;
} */
.carousel-inner{
    border-radius: 0px;
}
.carousel-inner .carousel-item img{
    height: 340px
}
.carousel-indicators {
    bottom: -50px !important;
    /* margin-bottom: 37px; */
}
.carousel-indicators [data-bs-target] {
    border-radius: 50% !important;
    background-color: #000;
}
/* @media(min-width:600px){
    .carousel-indicators [data-bs-target] {
        height: 13px !important;
        width: 13px !important;
    }
} */
@media(max-width:899px){
    .carousel-indicators [data-bs-target] {
        height: 10px !important;
        width: 10px !important;
    }
}
@media(min-width:900px){
    .carousel-indicators [data-bs-target] {
        height: 13px !important;
        width: 13px !important;
    }
}
/* End of Slider */
/* Start Main Categories */
/* .main-categories{
    padding: 20px;
    margin-bottom: 100px;
    height: 100%;
    height: 630px;
} */
.main-categories .card{
    box-shadow: 5px 7px 20px 0px rgb(0 0 0 / 8%);
    border-radius: 15px;
    border: none;
    cursor:pointer;
    /* margin-bottom: 20px; */
}
.main-categories .card img{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.main-categories .card .card-body .first{
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    height:100%;
    /* line-height: 30px; */
    /* float: left; */
}  
.main-categories .card .card-body .second{
    /* font-size: 9px; */
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-categories .card .card-body .second .disc{
    color: #f00;
    /* font-size: 25px; */
    font-size: 1.2rem;
    font-weight: bold;
}
@media(max-width:1300px){
    .main-categories{
        height:100% !important;
    }
    .main-categories .card .card-body .first{
        font-size: 15px;
        /* line-height: 50px; */
    }           
    .main-categories .card .card-body .second{
        font-size: 8px;
    }
    .main-categories .card .card-body .second .disc{
        font-size: 20px;
    }
}
@media(max-width:768px) {
    .main-categories{
        height:100% !important;
    }
}
@media(min-width:768px) {
    .main-categories{
        height:100% !important;
    }    
    .main-categories{
        margin-bottom:0px !important;
    }
}
@media(min-width:992px) {
    .main-categories{
        height:100% !important;
    }
}
@media(max-width:992px) {
    .main-categories{
        height:100% !important;
    }
}
@media(min-width:1200px) {
    .main-categories{
        height:100% !important;
    }
}
@media(min-width:600px) {
    .main-categories{
        height:100%;
    }
}
@media(max-width:600px) {
    .main-categories{
        height:100% ;
    }
}
/* End Main Categories */
/* Start Digital Cards */
/* .customSwiperContainer .carousel .carousel-control-prev ,
.phones-personal-audio.carousel .carousel-control-prev,
.laptops .carousel-control-prev {
    left: 0;
} */
/* .customSwiperContainer .carousel .carousel-control-prev,
.phones-personal-audio .carousel .carousel-control-prev ,
.laptops .carousel .carousel-control-prev {
    justify-content: left !important;
} */
/* .customSwiperContainer .carousel .carousel-control-next,
.laptops .carousel .carousel-control-next,
.phones-personal-audio .carousel .carousel-control-next{
    justify-content: right;
} */
/* .customSwiperContainer .carousel .carousel-control-prev-icon ,
.phones-personal-audio .carousel .carousel-control-prev-icon ,
.laptops .carousel .carousel-control-prev-icon {
    background-color: rgb(146, 146, 146);
    padding: 40px 10px;
    line-height: 10px;
} */
/* .customSwiperContainer .carousel .carousel-control-next-icon,
.phones-personal-audio .carousel .carousel-control-next-icon ,
.laptops .carousel .carousel-control-next-icon {
    background-color: rgb(146, 146, 146);
    padding: 40px 10px;
    line-height: 10px;
} */
.view-all {
    color: #fff!important;
    background-color: #2688da !important;
    border: 1px solid #2688da;
    border-radius: 3px;
    /* padding: 7px 13px;
    top: 0;
    right: 10px;
    position: absolute;
    margin-top: 10px; */
}
.customSwiperContainer .customSwiperContainer-heading{
    font-size: 20px;
    /* top: 0; */
    font-weight: bold;
    /* position: absolute; */
    /* margin-top: 10px; */
}
/* .slide{ */
    /* border-top: 1px solid black; */
    /* border-inline-end:  1px solid black; */
/* } */
.phones-personal-audio .phones-personal-heading,
.laptops .laptops-heading,
.tablets .tablets-heading,
.televisions .televisions-heading{
    font-size: 22px;
    top: 0;
    font-weight: bold;
    position: absolute;
    margin-top: 10px;
}
/* .customSwiperContainer .row,
.phones-personal-audio .carousel .carousel-inner .row,
.laptops .carousel .carousel-inner .row{
    flex-wrap: nowrap;
} */
/* .customSwiperContainer , */
.phones-personal-audio,
.laptops,
.tablets,
.televisions{
    background-color: #fff;
}
.customSwiperContainer{
    /* padding: 10px; */
    height: 500px;
    box-shadow: 0px 0px 7px 2px #ccc;
    border-radius: 10px !important;
    background-color: white;
}
.phones-personal-audio,.laptops,.tablets,.televisions{
    padding: 10px;
}
.customSwiperContainer .swiper{
    /* box-shadow: 0px 0px 7px 2px #ccc; */
    border-radius: 10px;
}
.phones-personal-audio .swiper,
.laptops .swiper,
.tablets .swiper,
.televisions .swiper{
    box-shadow: 0px 0px 7px 2px #ccc;
    border-radius: 10px;
}
.customSwiperContainer .swiper,
.phones-personal-audio .swiper,
.laptops .swiper,
.tablets .swiper,
.televisions .swiper{
    padding: 20px;
}
/* .customSwiperContainer .digital-card, */
.phones-personal-audio .phones-personal-audio,
.laptops .laptop,
.tablets .tablet,
.televisions .television{
    padding: 20px;
    margin-top: 45px;
    border-top: 1px solid rgb(240, 239, 239);
    border-right: 1px solid rgb(240, 239, 239);
    text-align: center;
}
.customSwiperContainer .card-body,
.phones-personal-audio .card-body,
.laptops .card-body,
.tablets .card-body,
.televisions .card-body{
    text-align: left;
}
.best-seller{
    background-color: black;
    color: #fff;
    font-size: 12px;
    /* padding: 5px; */
}
.customSwiperContainer .icon i,
.phones-personal-audio .icon i,
.laptops .icon i,
.tablets .icon i,
.televisions .icon i{
    font-size: 20px;
    cursor: pointer;
}
.customSwiperContainer .name,
.phones-personal-audio .name,
.laptops .name,
.tablets .name,
.televisions .name{
    font-weight: 600;
    font-size: 13px;
}
.customSwiperContainer .price,
.phones-personal-audio .price,
.laptops .price,
.tablets .price,
.televisions .price{
    font-weight: 600;
    font-size: 15px;
}
.customSwiperContainer .oldprice,
.phones-personal-audio .oldprice,
.laptops .oldprice,
.tablets .oldprice,
.televisions .oldprice{
    font-weight: 400;
    font-size: 13px;
    /* margin-right: 10px; */
    text-decoration: line-through;
}
.customSwiperContainer .discount,
.phones-personal-audio .discount,
.laptops .discount,
.tablets .discount,
.televisions .discount{
    font-weight: 400;
    color: #fff;
    font-size: 12px;
    background-color: rgb(209, 3, 3);
    padding: 2px;
    text-align: center;
    border-radius: 5px;
}
.swipe{
    left: 0;
    bottom: 0;
    position: absolute;
    padding: 0px 5px;
    background-color: rgb(209, 3, 3);
    font-size: 12px;
    color: #fff;
}
@media(max-width:600px){
    .customSwiperContainer .digital-card, .phones-personal-audio .phones-personal-audio, .laptops .laptop, .tablets .tablet, .televisions .television {
        padding: 10px 0;
        margin-bottom: 30px;
    }
    .best-seller{
        font-size: 10px;
    }
    .swiper-slide{
        margin-right: 10px;
        padding: 0;
        width: 100px !important
    }
    .swiper-slide .card-body{
        padding: 10px 0;
        margin-bottom: 20px;
    }
    .swiper-slide img{
        width: 105px !important;
        margin: 0;
    }
    .swiper-slide .name,
    .swiper-slide .price{
        font-size: 13px;
    }
    .swiper-slide .discount{
        font-size: 10px;
    }
    .customSwiperContainer{
        padding: 0px;
    }
    .phones-personal-audio,.laptops,.tablets,.televisions{
        padding: 0px;
    }
}
@media(max-width:600px){
    .customSwiperContainer{
        margin-top: 10px !important;
    }
}
/* End Digital Cards */
/* Start Laptops assistant */
.laptop-assistant{
    /* height: 100%; */
    background-image: url(https://m.xcite.com/media/wysiwyg/banners-kw-xvii/laptop-assistant-Laptop-EN.jpg);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 50% 100%;
    padding: 20px;
    /* margin: 10px; */
    background-color: #000;
    height: 250px;
}
.laptop-assistant .content{
    padding: 10px ;
}
.laptop-assistant .content h2{
    color: #fff;
    margin-bottom: 10px;
}
.laptop-assistant .content p{
    color: #fff;
    font-size: 23px;
    margin-bottom: 30px;
}
.laptop-assistant .content button{
    background-color: #01a4ef;
    color: #fff;
    border-radius: 0;
    margin-right: 10px;
    padding: 10px 15px;
    font-size: 16px;
}
.laptop-assistant .content button:hover{
    background-color: #0eacf5;
}
/*End Laptops assistant */







/* main classes */
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.color-red{
    color: red;
}
.MuiPaper-root{
    background-color: #fff !important;
    color: #4B804D !important;
    padding: 40px !important;
    font-size: 25px !important;
}