/* .contSlider{
    height: 380px;
} */
.onSlider {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
    
    padding: 4px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.103);
    
}
.slick-next,
.slick-prev{
    background-color: #001A2C !important;
    padding: 2px !important;
}