.favorites{
    padding: 20px;
}
.item{
    border: 1px solid rgb(238, 236, 236);
    border-radius: 10px;
    background-color: #f3f2f2;
    box-shadow: 10px 10px 10px #0000003b;
}
.favorites .item .top{
    padding: 10px;
}
.favorites .item .top .icon .fa-heart{
    line-height: 10px;
    font-size: 20px;
}
.favorites .item .name{
    color: #000;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
}
.favorites .item .price {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}
.favorites .item .oldprice {
    text-decoration: line-through;
    font-size: 15px;
}
.favorites .item .discount{
    font-weight: 400;
    color: #fff;
    font-size: 15px;
    background-color: rgb(209, 3, 3);
    padding: 2px;
    text-align: center;
    border-radius: 5px;
    float: right;
}